* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 5vmin;
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 2.5rem;
	color: #fff;
}

#h2{
	margin: 0 auto 60px;
	color: #fff;
}
h2 {
	margin: 0 auto;
	font-size: 1.5rem;
	text-align: center;
	width: max-content;
	color: #fff;
	border-bottom: 0.2rem solid;
}

p {
	font-size: 1rem;
}

/* Header navigation */
#navbar {
	position: fixed;
	width: 100%;
	height: 120px;
	background: transparent;
	z-index: 1;
}

header {
	height: 50px;
	background: #fff;
}

#navbar50 {
	width: 50%;
	height: 100%;
	margin-left: 50%;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	background: #fff;
}

.href {
	height: 1em;
}

.href a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #d6534c;
	width: 100%;
	height: 100%;
	font-size: 1.1rem;
	letter-spacing: 3px;
	font-family: 'Federant', cursive;
	line-height: 1em;
}

svg {
	width: 100%;
	height: 70px;
	background: transparent;
}

/* section 1 */
#welcome-section {
	height: 100vh;
	background: #82d14a;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#welcome-section p {
	font-style: italic;
}

/* section 2 */
#projects {
	background: #4ab6d1;
	width: 100%;
	padding: 100px 20px;
}

#projects-grid {
	margin: 0 auto;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.project-tile {
	display: block;
	height: 350px;
	width: 350px;
	background: #303841;
	border-radius: 5px;
	margin: 15px 30px;
}

#projects img {
	display: block;
	height: 240px;
	width: 100%;
	padding: 2px;
	border-radius: 5px;
}

.code {
	display: inline-block;
	width: 21px;
	opacity: 0;
	transition: all .4s linear;
}

.project-tile:hover .code {
	opacity: 1;
	color: #f1a423;
	transition: all .4s linear;
}

.project-tile:hover {
	border: 2px solid #f1a423;
	transition: all .05s linear;
}

a:hover {
	color: #000;
	transition: all .05s linear;
}

a:focus {
	border: 2px solid #f1a423;
	transition: all .05s linear;
}

#projects p,
span {
	font-size: .6rem;
	color: #fff;
	width: 100%;
	text-align: center;
}

#p {
	height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* section 3 */
#contact {
	background: #d6534c;
	display: flex;
	flex-direction: column;
	padding: 20px;
	position: relative;
}
#contact h2{
	border: none;
	margin: 20px auto 40px;
}
#contact-links{
	border-top: 0.2rem solid;
	color: #fff;
	padding: 40px 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#profile-link{
	text-align: center;
	padding-bottom: 40px;
	color: #fff;
	line-height: 1em;
	width: max-content;
	margin: 0 auto;
}
#contact p{
	line-height: 1em;
	font-size: 0.5em;
	width: max-content;
	display: block;
	position: absolute;
	right: 2%;
	bottom: 5%;
}

.btn, #profile-link{
	font-weight: bold;
	letter-spacing: 0.5px;
}
.btn{
	color: #fff;
	padding: 10px 20px;
	transition: all .05s linear;
}
.btn:hover, #profile-link:hover{
	color: #000;
	transform: translateY(8px);
	transition: all .05s linear;
}

@media (max-width: 1300px) {
	#contact-links{
		flex-wrap: wrap;
	}
}

@media (max-width: 954px) {
	#projects-grid {
		width: 100%;
	}
}

@media (max-width: 800px) {
	#h2{
		width: 70%;
	}
	h2 {
		width: 100%;
	}
	.href a {
		font-size: 0.9rem;
	}
	svg {
		height: 43px;
	}
}

@media (max-width: 600px) {
	#navbar {
		height: 50px;
	}

	#navbar50 {
		width: 100%;
		height: 100%;
		margin-left: 0;
		padding: 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	#navbar::before {
		height: 0;
		opacity: 0;
	}

	#navbar::after {
		height: 0;
		opacity: 0;
	}
	#projects {
		padding: 50px 20px;
	}
	.href a {
		font-size: 25px;
	}

	svg {
		display: none;
	}
}

@media (max-width: 450px) {
	.project-tile {
		height: auto;
		margin: 10px 10px;
	}
	#projects img {
		height: auto;
	}
	#profile-link {
		padding-bottom: 30px;
	}
	#p {
		height: 60px;
	}
	#contact p{
		font-size: 0.7em;
	}
}

@media (max-width: 350px) {
	#h2{
		width: 75%;
		margin: 0 auto 30px;
	}
	.href a {
		font-size: 20px;
	}
}

/* 
#82d14a
#4ab6d1
#d6534c
*/