header,
section,
footer {
	width: 100%;
	overflow: hidden;
}

.container {
	width: 300px;
	position: relative;
}

.scroll {
	height: 80vh;
	right: 4%;
	background: none;
}

.header {
	padding-top: 0;
	height: auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

	& .container {
		height: 100%;
	}

	&:before {
		height: 80vh;
		top: 70px;
		right: 0;
		background-size: contain;
		z-index: 5;
	}

	&__logo {
		float: none;
		margin-left: 0;
		padding: 10px 0;
		width: 100%;
		text-align: center;

		a {
			display: inline-block;

			img {
				height: 30px;
			}
		}
	}

	& #burger {
		display: flex;
		top: 5px;
	}

	& .nav {
		display: none;
		float: none;
		padding-top: 0;
		text-align: center;
		background: #fff;
		position: relative;
		z-index: 10;
	}

	& .nav.active {
		display: block;
	}

	& .nav__link {
		display: block;
		margin: 15px 0;
	}

	& .nav .nav__href {
		margin-left: 0;
		padding: 5px 0;
		display: inline-block;
	}
}

#s1 {
	height: 480px;
	padding-top: 50px;
	margin-bottom: 20px;

	&:before {
		width: 210px;
		height: 380px;
		top: 80px;
		left: 0;
		background-size: contain;
	}

	& .trax {
		text-align: center;
		padding: 0;
		top: 80px;
		width: 100%;
	}

	& .trax .trax__title {
		font-size: 30px;
		line-height: 1.1;
		margin-bottom: 10px;
	}

	& .trax .trax__text {
		font-size: 16px;
		letter-spacing: 0.05em;
		line-height: 25px;
		padding-left: 0;
		position: relative;
		text-align: center;
	}

	& .trax .trax__text:before {
		display: none;
	}

	& .video {
		top: 252px;
		left: 0;
		width: 100%;
	}

	& .video:before {
		display: none;
	}

	& .video a {
		background: none;
		position: absolute;
		left: 50%;
		top: 50%;
		width: auto;
		height: auto;
		margin-left: -16px;
		margin-top: -39px;
	}

	& .video a>img {
		width: 50px;
	}
}

.video>img {
	width: 100%;
}

.article__list li {
	text-align: start;
	padding-left: 70px;
	margin-top: 10px;
	position: relative;
	font-size: 16px;
}

.article__list li:before {
	left: 30px;
}

#benefits {
	height: 1140px;
	padding: 0;
	margin-bottom: 40px;

	border-top: 0;
	padding-top: 100px;
	margin-top: -100px;
	box-sizing: content-box;

	.container {
		padding: 0;
	}

	&:before {
		width: 210px;
		height: 380px;
		top: 80px;
		right: 0;
		background-size: contain;
	}

	& .video {
		top: 400px;
		left: 0;
	}

	.video:before {
		width: 70px;
		height: 70px;
		margin-left: -35px;
		margin-top: -35px;
		background-size: contain;
	}

	& .article {
		width: 100%;
		text-align: center;
		position: relative;
		z-index: 1;
	}

	& .title {
		margin-bottom: 20px;
		text-align: center;
		/*  tac wasn't anim */
	}

	& .article__header {
		margin-bottom: 0;
		margin-left: 0;
		font-size: 34px;
	}

	& .article:last-of-type {
		margin-left: 0;
		bottom: 0;
		top: 740px;
		right: 0;
	}

	& .article:last-of-type .article__header:before {
		display: none;
	}

	& .article:last-of-type .slider__elem {
		margin: 10px 0;
	}

	& .article:last-of-type .slider__img {
		top: 36px;
		left: 0;
		width: 100%;
	}

	& .article:last-of-type .slider__img img {
		width: 100%;
	}
}

#properties {
	height: 770px;
	margin-bottom: 20px;

	border-top: 0;
	padding-top: 90px;
	margin-top: -90px;

	&:before {
		width: 210px;
		height: 380px;
		top: 300px;
		left: 0;
		background-size: contain;
	}

	& .article {
		top: 240px;
		left: 0;
		text-align: center;
	}

	& .article__header {
		margin-bottom: 0;
		margin-left: 0;
		font-size: 34px;
	}

	& .article .metrics {
		margin: 20px 0 0;
	}

	& .article .metrics__article {
		width: 100%;
	}

	& .article .metrics__article:nth-child(2) {
		margin-left: 0;
		margin-top: 15px;
	}

	& .article .metrics__text {
		line-height: 60px;
	}

	& .article .metrics__text span {
		line-height: normal;
	}

	& .article .metrics__header {
		margin-left: 0;
	}

	& .video {
		top: 0;
		right: 0;
		width: 100%;
	}

	& .video:before {
		display: none;
	}

	& .video a {
		background: none;
		position: absolute;
		left: 50%;
		top: 50%;
		width: auto;
		height: auto;
		margin-left: -15px;
		margin-top: -25px;
	}

	& .video a>img {
		width: 50px;
	}
}

#forwhom {
	height: 720px;

	border-top: 0;
	padding-top: 50px;
	margin-top: -50px;

	&:before {
		width: 100%;
		height: calc(100% - 50px);
		top: auto;
		bottom: 0;
		left: 0;
		background-size: cover;
	}

	& .video {
		width: 100%;
		height: 204px;
		position: absolute;
		top: 80px;
		right: 0;
		z-index: 0;
	}

	& .article {
		position: absolute;
		top: 30px;
		left: 0;
		z-index: 1;
		text-align: center;
	}

	& .article__header {
		margin-bottom: 240px;
	}

	& .article__text {
		width: 80%;
		margin: 0 auto;

		br {
			display: none;
		}
	}

	& .article__text:first-of-type {
		margin-bottom: 10px;
	}

	& .article__btn {
		margin-top: 30px;
	}
}