//Adding another styles to combine in one
@import "null.scss";

.bold {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.light {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.bolder {
	font-family: 'Rubik Mono One', sans-serif;
	font-weight: normal;
}

.anim {
	.char {
		transition: 1s;
		transition-delay: calc(0.1s * var(--distance-percent));
	}

	&:hover .char {
		transition-delay: calc(0.3s * (1 - var(--distance-percent)));
		transform: scale(0.6) rotateZ(-25deg) translateX(calc(1.25em * var(--distance-sine)));
	}
}

.anim1 {
	.char {
		transition: 1s;
		transition-delay: calc(0.1s * var(--distance-percent));
	}

	&:hover .char {
		transition-delay: calc(0.3s * (1 - var(--distance-percent)));
		transform:
			scale(1.3) rotate(calc(1deg * var(--char-index))) translateX(calc(50px * var(--distance-sine))) translateY(calc(-5px * var(--char-index)));
	}
}

//-------

html,
body {
	overflow-x: hidden;
}

body {
	line-height: 1.4;
	letter-spacing: 0.08em;
	@extend .bold;
	color: #000;
	background: #fff;
	overflow-x: hidden;
	height: auto;
}

.container {
	max-width: 1185px;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

.animate {
	@extend .anim1;
}

.scroll {
	background: url('../img/scroll_bg.png') center no-repeat;
	width: 20px;
	height: 780px;
	position: fixed;
	top: 85px;
	right: 72px;
	background-size: contain;
	z-index: 5;

	span {
		display: block;
		position: absolute;
		height: 17px;
		width: 17px;

		&:last-of-type {
			background: url('../img/scroll_dot.png') center no-repeat;
			height: 17px;
			width: 17px;
			top: 344px;

			@media(max-width: 767px) {
				top: calc(30vh + 0px);
			}

			right: 1px;
		}

		&:nth-child(1) {
			background: #fff url('../img/scroll_circle.png') center no-repeat;
			border-radius: 50%;
			height: 17px;
			width: 17px;
			top: 344px;

			@media(max-width: 767px) {
				top: calc(30vh + 0px);
			}

			right: 1px;
			z-index: 6;
		}

		&:nth-child(2) {
			background: url('../img/scroll_dot.png') center no-repeat;
			height: 17px;
			width: 17px;
			top: 372px;

			@media(max-width: 767px) {
				top: calc(30vh + 28px);
			}

			right: 1px;
		}

		&:nth-child(3) {
			background: url('../img/scroll_dot.png') center no-repeat;
			height: 17px;
			width: 17px;
			top: 394px;

			@media(max-width: 767px) {
				top: calc(30vh + 28px + 22px);
			}

			right: 1px;
		}

		&:nth-child(4) {
			background: url('../img/scroll_dot.png') center no-repeat;
			height: 17px;
			width: 17px;
			top: 416px;

			@media(max-width: 767px) {
				top: calc(30vh + 28px + 22px + 22px);
			}

			right: 1px;
		}
	}
}

.header {
	background: #fff;
	height: 100px;
	width: 100%;
	padding-top: 30px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	&__logo {
		float: left;
		margin-left: 17px;
	}

	// Burger
	#burger {
		display: none;
		align-items: center;
		position: fixed;
		top: 10px;
		right: 4%;
		height: 40px;
		width: 40px;
		cursor: pointer;
		z-index: 1;

		&>span {
			left: 5px;
		}

		&>span,
		&>span:before,
		&>span:after {
			display: block;
			position: absolute;
			width: 30px;
			height: 4px;
			border-radius: 5px;
			background-color: #000;
			transition: all .5s ease-in-out;
		}

		&>span:before {
			content: '';
			transform: translateY(-10px);
		}

		&>span:after {
			content: '';
			transform: translateY(10px);
		}

		&.active>span {
			transform: translateX(-50px);
			background: transparent;
		}

		&.active>span::before {
			transform: rotate(45deg) translate(35px, -35px);
		}

		&.active>span::after {
			transform: rotate(-45deg) translate(35px, 35px);
		}
	}

	// End Burger

	.nav {
		float: right;
		padding-top: 11px;
		font-size: 0;
		// font-size: 14px;
		text-align: right;

		&__link {
			display: inline-block;
			margin-left: 68px;

		}

		&__href {
			display: inline-block;
			text-decoration: none;
			font-size: 14px;
			color: #000;
			position: relative;
			overflow: hidden;
			padding-bottom: 1px;

			// animation
			&:hover,
			&.active {
				&:before {
					transform: translate(0, 0);
				}
			}

			&:before {
				content: '';
				position: absolute;
				width: 100%;
				left: 0;
				right: 0;
				bottom: 0;
				height: 1px;
				background: #3a30f8;
				transform: translate(-100%, 0);
				transition: transform .2s linear;
			}
		}
	}
}

#s1 {
	height: 868px+65px;
	padding-top: 100px;
	position: relative;
	margin-bottom: 5px;

	&:before {
		content: '';
		background: transparent url(../img/bg1.png) no-repeat 0 0;
		width: 511px;
		height: 878px;
		position: absolute;
		top: 65px;
		left: 0;
	}

	.container {
		height: 100%;
		box-sizing: border-box;
	}

	.trax {
		padding-left: 10px;
		position: absolute;
		top: 184px;
		z-index: 1;

		.trax__title {
			font-size: 80px;
			@extend .bolder;
			line-height: 1.2;
			// margin: 181px 0 21px;
			margin-bottom: 18px;
			letter-spacing: 0.08em;

			&>span:nth-child(3) {
				letter-spacing: -0.15em;
			}
		}

		.trax__text {
			font-size: 20px;
			@extend .bold;
			letter-spacing: 0.08em;
			line-height: 30px;
			padding-left: 5px;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				bottom: -130px;
				left: 37px;
				height: 95px;
				width: 12px;
				background: url('../img/arrow_d.png') 0 0 no-repeat;
			}
		}
	}

	.video {
		position: absolute;
		top: 0;
		right: -377px;
		z-index: 0;

		&:before {
			content: '';
			position: absolute;
			background: url('../img/play_s1bf.png') 0 0 no-repeat;
			width: 38px;
			height: 153px;
			left: -76px;
			top: 72px;
		}

		a {
			display: block;
			position: absolute;
			background: url('../img/play_s1.png') 0 0 no-repeat;
			height: 81px;
			width: 74px;
			left: -36px;
			top: 73px;

			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

#benefits {
	height: 1102px+10px;
	position: relative;
	margin-bottom: 175px;

	&:before {
		content: '';
		background: transparent url(../img/bg2.png) no-repeat 0 0;
		width: 292px;
		height: 769px;
		position: absolute;
		top: 10px;
		right: 173px;
	}

	.container {
		padding: 204px 0 0 484px;
	}

	.video {
		position: absolute;
		top: 112px;
		left: -359px;
		z-index: 0;

		&:before {
			content: '';
			position: absolute;
			background: url('../img/play_s2bf.png') 0 0 no-repeat;
			width: 100px;
			height: 100px;
			left: 50%;

			@media(min-width:1186px)and(max-width:1400px) {
				left: 65%;
			}

			top: 50%;
			margin-left: -50px;
			margin-top: -50px;
		}

		a {
			display: block;
			position: absolute;
			left: 50%;

			@media(min-width:1186px)and(max-width:1400px) {
				left: 65%;
			}

			top: 50%;
			margin-left: -15px;
			margin-top: -22px;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	.title {
		color: #3a30f8;
		font-size: 20px;
		letter-spacing: 0.08em;
		@extend .bold;
		margin-bottom: 73px;
	}

	.article {
		display: inline-block;
		z-index: 2;

		&__header {
			margin-bottom: 19px;
			margin-left: 2px;
		}

		&:last-of-type {
			position: absolute;
			bottom: 288px;
			right: 0;

			@media(min-width:1186px)and(max-width:1400px) {
				right: 123px;
			}

			.article__header {
				position: relative;
				margin-left: 0;

				&:before {
					content: '';
					background: url('../img/arr_s2.png') 0 0 no-repeat;
					width: 18px;
					height: 290px;
					position: absolute;
					top: 25px;
					left: -52px;

					@media(min-width:1186px)and(max-width:1400px) {
						display: none;
					}

				}
			}

			.slider {
				position: relative;

				&__elem {
					width: 270px;
					height: 26px;
					font-size: 0;
					margin: 52px 0 41px;

					span {
						height: 26px;
						width: 26px;
						display: inline-block;
						margin-left: 25px;

						&:hover {
							cursor: pointer;
						}

						&:nth-child(1) {
							background: url('../img/slider_s2_1.png') 0 0 no-repeat;
							margin-left: 18px;
						}

						&:nth-child(2) {
							background: url('../img/slider_s2_2.png') 0 0 no-repeat;
						}

						&:nth-child(3) {
							background: url('../img/slider_s2_3.png') 0 0 no-repeat;
						}

						&:nth-child(4) {
							background: url('../img/slider_s2_4.png') 0 0 no-repeat;
						}

						&:nth-child(5) {
							background: url('../img/slider_s2_5.png') 0 0 no-repeat;
							// margin: 0 20px 0 0;
						}
					}

					.active {
						position: relative;

						&:before {
							content: '';
							background: url('../img/slider_s2_arr.png') 0 0 no-repeat;
							width: 3px;
							height: 48px;
							display: block;
							position: absolute;
							bottom: -54px;
							right: 12px;
						}
					}
				}

				&__img {
					position: absolute;
					top: 56px;
					left: -103px;
				}
			}
		}
	}
}

// Articles

.article__header {
	color: #000;
	font-size: 40px;
	letter-spacing: 0.08em;
	@extend .bolder;
}

.article__text,
.article__list {
	color: #000;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: initial;
	@extend .light;
}

.article__list li {
	padding-left: 45px;
	margin-top: 20px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 13px;
		width: 30px;
		height: 5px;
		background: #000;
	}
}

// end Articles

#properties {
	height: 878px;
	position: relative;
	margin-bottom: 117px;

	border-top: 100px solid transparent;
	margin-top: -100px;
	box-sizing: content-box;

	&:before {
		content: '';
		background: transparent url(../img/bg1.png) no-repeat 0 0;
		width: 511px;
		height: 878px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}

	.container {
		position: relative;
	}

	.article {
		display: inline-block;
		position: absolute;
		top: 143px;
		left: 18px;
		z-index: 1;

		&__header {
			margin-bottom: 19px;
			margin-left: -3px;
		}

		&__text {
			span {
				@extend .bold
			}
		}

		.metrics {
			margin: 63px 0 0 -5px;
			font-size: 0;

			&__article {
				display: inline-block;

				&:nth-child(2) {
					margin-left: 67px;
				}
			}

			&__text {
				color: #3a30f8;
				font-size: 60px;
				letter-spacing: -4.2px;
				@extend .bolder;

				span {
					margin-left: 9px;
					font-size: 24px;
					letter-spacing: -1.68px;
				}
			}

			&__header {
				color: #666;
				font-size: 16px;
				line-height: 23px;
				letter-spacing: 0;
				@extend .light;
				margin-left: 7px;
			}
		}
	}

	.video {
		position: absolute;
		top: 64px;
		right: -377px;
		z-index: 0;

		&:before {
			content: '';
			position: absolute;
			background: url('../img/play_s3bf.png') 0 0 no-repeat;
			width: 251px;
			height: 570px;
			top: 105px;
			left: -201px;
		}

		a {
			display: block;
			position: absolute;
			left: -26px;
			bottom: 75px;

			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

#forwhom {
	height: 790px;
	position: relative;

	border-top: 170px solid transparent;
	margin-top: -170px;
	box-sizing: content-box;

	&:before {
		content: '';
		background: transparent url(../img/bg4.png) no-repeat 0 0;
		width: 1919px;
		height: 790px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}

	.container {
		position: relative;
	}

	.article {
		position: absolute;
		top: 95px;
		left: 17px;
		z-index: 1;

		&__header {
			color: #fff;
			font-size: 18px;
			letter-spacing: 3px;
			line-height: 30px;
			@extend .bold;
			margin-bottom: 73px;
		}

		&__text {
			color: #fff;

			&:first-of-type {
				margin-bottom: 20px;
			}

			span {
				// font-weight: bold;
			}
		}

		&__btn {
			color: #3a30f8;
			font-size: 16px;
			line-height: 50px;
			letter-spacing: 1.28px;
			@extend .bold;

			display: inline-block;
			text-align: center;
			margin-top: 92px;
			width: 270px;
			height: 50px;
			box-shadow: 0 5px 5px rgba(0, 0, 1, 0.2);
			background: #fff;
			border-radius: 25px;

			&:hover {
				color: #fff;
				background: #5850f6;
				transition: all .1s linear;
			}
		}
	}

	.video {
		width: 1176px;
		height: 750px;
		position: absolute;
		top: -60px;
		right: -375px;
		z-index: 0;

		img {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.footer {
	height: 28px;
	width: 100%;
	background: #292929;

	p {
		color: #605f5f;
		font-size: 12px;
		line-height: 28px;
		letter-spacing: 0;
		@extend .light;
		text-align: center;
	}
}

@media(min-width: 992px)and(max-width: 1185px) {
	@import "tablet-landscape-and-desktop.scss";
}

@media(min-width: 768px)and(max-width: 991px) {
	@import "tablet-portrait.scss";
}

@media(min-width: 475px)and(max-width: 767px) {
	@import "phone-landscape.scss";
}

@media(max-width: 474px) {
	@import "phone-down.scss";
}