nav {
	height: 60px;

	#img {
		width: 20%;
	}

	header {
		justify-content: center;
		width: 80%;

		.href {
			margin-right: 7%;
		}
	}

	.btn {
		line-height: 40px;
	}
}

.btn {
	width: 125px;
}

#section1 {
	form {
		h1 {
			font-size: 52px;
			max-width: 310px;
		}

		p {
			font-size: 20px;
		}

		img:nth-child(2) {
			top: 52%;
			left: -1%;
		}

		img:nth-child(3) {
			bottom: -5%;
			right: 1%;
		}

		img:nth-child(4) {
			right: 12%;
			top: 6%;
		}

		#form-group {
			margin-top: 54px;

			#select {
				.select-wrap {
					width: 170px;
					height: 46px;
				}

				.dropdown {
					width: 170px;
					padding-left: 26px;
				}
			}
		}

		input {
			width: 175px;
			font-size: 1.2em;
		}
	}
}

#section2 {
	padding: 0 5% 25vh;

	.article {
		padding: 0 10% 0 20%;

		br {
			display: none;
		}

		img {
			bottom: 12%;
			right: 25%;
		}
	}

	.scr2 {
		margin-left: 0;
	}
}

.article {
	a {
		.btn {
			width: 155px;
		}
	}
}

#text {
	width: 85%;
}

#section3 {
	#cards {
		&>img:nth-child(1) {
			bottom: 33%;
			left: -5.5%;
		}

		&>img:nth-child(2) {
			bottom: -20%;
			right: 51%;
		}

		&>img:nth-child(3) {
			top: -20%;
			right: 35%;
		}
	}
}

#section4 {
	padding: 0 5% 25vh;

	.article {
		img:nth-last-of-type(2) {
			top: -16%;
			left: 18.5%;
		}

		img:nth-last-of-type(1) {
			bottom: 0%;
			right: 13%;
		}
	}

	.scr2 {
		img:nth-child(2) {
			top: 7%;
			right: -4%;
		}
	}

}

#section5 {
	#wrapper1 {
		#h2 {
			h2 {
				padding: 0 10%;
			}
		}

		div:last-child {
			margin-left: 6%;
		}
	}

	.wrapper {
		article {
			.article {
				blockquote {
					font-size: 22px;
				}

				p:nth-last-of-type(2) {
					font-size: 20px;
				}

				p:nth-last-of-type(1) {
					font-size: 17px;
				}

			}
		}

		.photo {
			margin-left: 6%;
		}
	}
}

#section6 {
	padding: 0 5% 10vh;

	#posts {
		width: 90%;
		justify-content: center;

		&>img:nth-child(1) {
			bottom: 44%;
			left: -8%;
		}

		&>img:nth-child(3) {
			top: -33%;
			left: 42%;
		}

		.post {
			width: 200px;
			margin-right: 3%;

			h3 {
				font-size: 18px;
				line-height: 25px;
			}

			p {
				font-size: 15px;
				line-height: 23px;
			}

			img {
				max-width: 100%;
				height: 177px;
			}
		}
	}
}

footer {
	.wrapper {
		padding-top: 28px;

		p {
			font-size: 17px;
		}

		#block1 {
			margin: 0 0 0 10%;
			padding-left: 3%;

			p {
				margin: 0 0 40px 0;
			}
		}

		#block2 {
			margin: 0 10% 0 3%;
			width: 60%;

			.item_global {
				width: 164px;

				&:nth-child(1) {
					width: 120px;
				}

				h4 {
					font-size: 17px;
				}

				.item {
					a {
						font-size: 17px;
					}
				}
			}
		}
	}

	span {
		margin-top: 50px;
	}
}