nav {
	height: 50px;

	#img {
		padding-left: 20px;

		img {
			height: 37px;
			width: 37px;
		}
	}

	#burger {
		width: 35px;
		top: 10px;
		right: 20px;
	}

	header {
		top: -110%;

		div:last-child {
			margin: 2% 0 4%;
		}
	}
}

.btn {
	line-height: 35px;
}

#section1 {
	padding: 85px 0 10vh;
	display: block;

	&>h1:first-child {
		font-size: 8vh;
		line-height: 9vh;
		margin-bottom: 2vh;
		width: 100%;
	}

	&>img:nth-child(2) {
		width: 18.51px;
		height: 18px;
		right: 60%;
		top: 44%;
		left: auto;
	}

	&>form:nth-child(3),
	&>#scr1:nth-child(4) {
		display: none;
	}

	#wrap1 {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 55vh;

		form {
			justify-content: space-evenly;
			margin-right: 1vw;
			width: 60%;
			order: 0;

			#form-group {
				&>img:nth-child(1) {
					width: 14.55px;
					height: 14px;
					bottom: -20%;
					left: 13%;
				}

				p {
					margin: 2vh 0 15px;
				}

				#select {
					flex-wrap: wrap;
					margin-top: 2vh;

					.select-wrap {
						margin: 0 2vw 2vh 0;
						width: 46%;
						height: 35px;

						&:nth-child(even) {
							margin-right: 0;
						}

						&:nth-child(n+3) {
							margin-bottom: 0;
						}
					}
				}
			}

			p {
				font-size: 16px;
				line-height: 16px;
				letter-spacing: 0.05rem;

				&:after {
					top: 30px;
				}
			}

			input {
				width: 130px;
				margin-top: 1.5vh;
			}
		}

		#scr1 {
			width: 40%;
			justify-content: center;

			&>img:first-child {
				width: 18.51px;
				height: 18px;
				bottom: 15px;
				right: -10px;
			}

			& img:last-child {
				max-height: 100%;
				width: auto;
			}
		}

		@media (max-width: 570px) {
			#scr1 {
				align-items: center;

				img {
					max-width: 100%;
					height: min-content;
				}
			}
		}
	}


}

#section2,
#section4 {
	display: block;

	&>h2:first-child {
		font-size: 7vh;
		line-height: 8vh;
		width: 100%;
		margin-bottom: 2vh;
	}

	&>.scr2:nth-child(2),
	&>article:nth-child(3) {
		display: none;
	}

	.wrap2 {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 55vh;

		.scr2 {
			width: 40%;
			height: 100%;
			display: flex;
			justify-content: center;

			img:first-child {
				max-height: 100%;
				width: auto;
			}

			img:nth-child(2) {
				top: 2%;
				right: 3%;
			}
		}

		@media (max-width: 685px) {
			.scr2 {
				align-items: center;

				img:first-child {
					max-width: 100%;
					height: min-content;
				}
			}
		}

		article {
			height: 100%;
			width: 60%;
			padding-left: 2vw;

			p {
				width: 80%;
				margin: 0 0 2vh;
				font-size: 4.5vh;
				line-height: 6vh;
			}

			.article {
				height: 100%;
				justify-content: space-evenly;

				a {
					width: 130px;
					height: 37px;

					.btn {
						width: 100%;
						height: 100%;
					}
				}

				img {
					bottom: -5%;
					right: 12%;
				}
			}
		}
	}

}

h2 {
	font-size: 7vh;
	line-height: 8vh;
}

#section3 {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
	border-top: 20vh solid transparent;
	margin-top: -20vh;

	.text {
		margin-bottom: 0;
		height: auto;
		text-align: center;
		font-size: 7vh;
		line-height: 8vh;
		width: 100%;
		margin-bottom: 2vh;
	}

	#cards {
		height: 55vh;
		margin-top: 0;
		width: 90%;

		&>img:nth-child(1) {
			bottom: 15%;
			left: -6%;
		}

		&>img:nth-child(2) {
			top: 20%;
			right: -8%;
		}

		&>img:nth-child(3) {
			display: none;
		}

		.card {
			display: flex;
			justify-content: center;
			height: 100%;
			width: 50%;
			padding: 10px;

			a {
				width: auto;

				img {
					max-height: 100%;
				}
			}

			&:nth-child(5) {
				display: flex;
			}

			&:nth-child(n+6) {
				display: none;
			}
		}
	}

	&>a:last-child {
		display: none;
	}
}

#section4 {
	width: 100%;
	padding-right: 0;
	padding-left: 0;

	&>h2:first-child {
		margin-bottom: 2vh;
	}

	&>.scr2:nth-child(3),
	&>article:nth-child(2) {
		display: none;
	}

	.wrap2 {
		article {
			order: 1;
			padding-left: 0;
			padding-right: 2vw;

			.article {

				img:nth-last-of-type(1) {
					bottom: -5%;
					right: 12%;
				}

				img:nth-last-of-type(2) {
					top: -16%;
					left: 1%;
				}
			}
		}

		.scr2 {
			order: 2;
		}
	}
}

#section5 {
	border-top: 20vh solid transparent;
	margin-top: -20vh;

	#wrapper1 {
		#h2 {
			margin-bottom: 2vh;
		}
	}

	.wrapper {
		flex-wrap: nowrap;
		height: 55vh;

		article {
			margin-top: 0;
			width: 50%;

			.article {
				height: 100%;
				width: 100%;

				#star {
					margin-bottom: 1vh;

					img:nth-last-of-type(1) {
						margin-right: 0;
					}
				}

				blockquote {
					display: none;
				}

				p:nth-last-of-type(2) {
					align-self: center;
					margin-top: 5px;
					font-size: 6vh;
				}

				p:nth-last-of-type(1) {
					align-self: center;
					font-size: 5.5vh;
				}
			}
		}

		.photo {
			height: 100%;
			width: 50%;

			#scr3 {
				height: 100%;
				width: auto;

				&::before {
					width: 24.97px;
					height: 24px;
					right: -40px;
					top: 10px;
				}

				&::after {
					width: 20.43px;
					height: 19.66px;
					left: 5px;
					bottom: -10px;
					transform: rotateZ(25deg);
				}

				img:first-child {
					max-height: 100%;
					width: auto;
				}

				span {
					display: block;
					width: 100%;
					height: 100%;
					background: transparent;

					#img {
						img:nth-child(1) {
							height: 30px;
							left: -40px;
							bottom: 40%;
						}

						img:nth-child(2) {
							height: 30px;
							right: -40px;
							bottom: 40%;
						}
					}
				}
			}

			@media (max-width: 685px) {
				#scr3 {
					align-items: center;

					img:first-child {
						max-width: 100%;
						height: min-content;
					}
				}
			}
		}
	}

	@media (min-width: 700px) {
		.wrapper {
			justify-content: center;

			article {
				width: 40%;
			}

			.photo {
				width: 40%;
			}
		}
	}
}

#section6 {
	border-top: 20vh solid transparent;
	margin-top: -20vh;

	.text {
		height: auto;
		margin-bottom: 2vh;
		display: table;
		width: 90%;
		text-align: start;

		a {
			margin: 0;
			float: none;
			display: table-cell;
			vertical-align: bottom;

			p {
				line-height: 17px;

				&::after {
					top: 4px;
				}
			}
		}
	}

	#posts {
		&>img:nth-child(1) {
			top: 55%;
			left: -8%;
		}

		&>img:nth-child(2) {
			top: 80%;
			right: 0%;
		}

		&>img:nth-child(3) {
			top: -70px;
			left: 58%;
		}

		.post {
			flex-direction: row;
			width: 100%;
			height: 55vh;
			padding: 0;

			&>:nth-last-child(n+2) {
				display: none;
			}

			h3 {
				margin-bottom: 3vh;
				font-size: 5.5vh;
			}

			p {
				font-size: 4.5vh;
				line-height: 6vh;
			}

			.blob {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 100%;

				a:first-child {
					height: 134px;
					margin-top: 0;
					width: 35%;
					overflow: hidden;

					img {
						width: 100%;
						height: auto;
						display: block;
					}
				}

				// img resizing
				@media (min-width: 590px) {
					a:first-child {
						height: 145px;
						max-height: 100%;
						width: 35%;
					}
				}

				@media (min-width: 650px) {
					a:first-child {
						height: 162px;
						max-height: 100%;
						width: 35%;
					}
				}

				@media (min-width: 750px) {
					a:first-child {
						height: 187px;
						max-height: 100%;
						width: 35%;
					}
				}

				@media (min-width: 850px) {
					a:first-child {
						height: 212px;
						max-height: 100%;
						width: 35%;
					}
				}

				a:nth-child(n-1) {
					margin-top: 1.5vh;
				}

				.tx {
					width: 60%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					text-align: center;

					h3,
					p {
						width: 80%;
					}
				}
			}
		}

		& .post:nth-child(n+4) {
			display: flex;
		}

		// posts 2,3,4
		& .post:nth-child(5),
		& .post:nth-child(6),
		& .post:nth-child(7) {
			display: none;
		}
	}
}