// TODO Slider on screen #3
// TODO Slider on screenn #5
// TODO S#5 name of author

nav {

	#img {
		padding-left: 20px;

		img {
			display: block;
		}
	}

	#burger {
		top: 19px;
		right: 20px;
	}

	header {
		padding-top: 50px;

		&.active {
			top: 0;
			height: auto;
		}

		.href {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
			width: 70%;
			height: 20%;
			border-bottom: 1px solid #ccc;
		}

		.href:first-child>a {
			color: #B8BECD;

			&:hover {
				color: $color_2;
			}
		}

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 100%;
		}

		div:last-child {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-basis: 20%;
			width: 100%;
			margin: 2% 0 10%;
			font-size: 0.9em;

			.btn {
				width: 130px;
				height: 45px;

				&:first-child {
					margin-right: 5%;
				}
			}
		}
	}
}

.btn {
	line-height: 35px;
}

#section1 {
	padding: 85px 0 10vh;

	&>h1:first-child {
		font-size: 30px;
		line-height: 45px;
		margin-bottom: 15px;
	}

	&>img:nth-child(2) {
		width: 18.51px;
		height: 18px;

		left: 8%;
		top: 145px;
	}

	form {
		width: 90%;

		p {
			font-size: 16px;
			line-height: 16px;
			letter-spacing: 0.05rem;

			&:after {
				top: 30px;
			}
		}

		#form-group {
			&>img:nth-child(1) {
				width: 14.55px;
				height: 14px;

				bottom: -15px;
				left: 30px;
			}

			#select {
				flex-wrap: wrap;
				margin-top: 15px;

				.select-wrap {
					box-sizing: border-box;
					width: 48%;
					margin: 0 10px 10px 0;
					height: 35px;

					&:nth-child(even) {
						margin-right: 0;
					}
				}

				.dropdown {
					padding-left: 10px;
				}
			}
		}

		input {
			width: 130px;
			margin-top: 5px;
		}
	}

	#scr1 {
		width: 70%;

		&>img:nth-child(1) {
			width: 18.51px;
			height: 18px;

			bottom: 15px;
			right: -35px;
		}
	}
}

#section2 {
	padding: 0 0 10vh;

	&>h2:first-child {
		font-size: 28px;
		line-height: 35px;
		margin-bottom: 15px;
	}

	article {
		.article {
			p {
				margin: 13px 0 15px;
			}

			a,
			a .btn {
				height: 37px;
				width: 130px;
			}

			img {
				bottom: -15px;
				right: 38px;
			}
		}
	}

	.scr2 {
		width: 70%;

		img {
			display: block;
			top: -10px;
			right: -30px;
		}
	}
}

p {
	margin: 13px 0 15px;

	font-size: 16px;
	line-height: 20px;
}

h2 {
	font-size: 28px;
	line-height: 35px;
}

#section3 {
	padding: 0 5% 10vh;
	border-top: 100px solid transparent;
	margin-top: -100px;

	.text {
		width: auto;
		height: auto;
		text-align: center;
	}

	#cards {
		&>img:nth-child(1) {
			bottom: 15%;
			left: -12%;
		}

		&>img:nth-child(2) {
			top: 20%;
			right: -8%;
		}

		&>img:nth-child(3) {
			top: -22%;
			left: 10%;
			display: none;
		}

		.card {
			box-sizing: border-box;
			margin: 0;
			padding: 10px 20px;
			width: 100%;
			height: 100%;

			// elements 5,6,7
			&:nth-child(n+5):nth-child(-n+7) {
				display: none;
			}
		}
	}

	&>a:nth-last-of-type(1) {
		display: block;
		width: 83px;
		margin: 20px 0 0;

		p {
			display: block;
			position: relative;
			margin: 0;

			font-family: 'Inter', sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 17px;

			color: #FB8F1D;
		}

		p::after {
			content: '';
			display: block;
			width: 6px;
			height: 11px;
			background: url(../img/arrow2.png) center no-repeat;

			position: absolute;
			top: 5px;
			right: 4px;
		}
	}
}

#section4 {
	padding: 0 0 10vh;

	h2:first-child {
		margin-bottom: 15px;
	}

	article {
		.article {
			padding: 0;

			a {
				width: 130px;
				height: 37px;

				.btn {
					width: 100%;
					height: 37px;
				}
			}

			img:nth-last-of-type(2) {
				top: -35%;
				left: 1%;
			}

			img:nth-last-of-type(1) {
				bottom: 1%;
				right: 10%;
			}

			p {
				margin: 13px 0 15px;
			}
		}
	}

	.scr2 {
		width: 70%;

		img:nth-child(2) {
			top: 7%;
			right: -8%;
		}
	}
}

#section5 {
	padding: 0 0 10vh;
	border-top: 80px solid transparent;
	margin-top: -80px;

	#wrapper1 {
		#h2 {
			margin-bottom: 15px;
		}
	}

	.wrapper {
		article {
			margin-top: 15px;

			.article {
				padding: 0;

				#star {
					margin-bottom: 15px;

					img:nth-last-of-type(1) {
						margin-right: 0;
					}
				}

				blockquote {
					display: none;
				}

				p:nth-last-of-type(2) {
					margin-top: 0;
				}
			}
		}

		.photo {
			width: 180px;
			margin-left: 0;

			#scr3 {
				width: 100%;

				&::before {
					width: 27.97px;
					height: 27px;
					right: -35px;
					top: -15px;
				}

				&::after {
					width: 22.43px;
					height: 21.66px;
					left: 5px;
					bottom: -10px;
					transform: matrix(1, 0, 0, 1, 0, 0);
				}

				span {
					display: block;
					width: 100%;
					height: 100%;
					background: transparent;

					#img {
						img:nth-child(1) {
							height: 30px;
							left: -50px;
							bottom: 40%;
						}

						img:nth-child(2) {
							height: 30px;
							right: -50px;
							bottom: 40%;
						}
					}
				}
			}
		}
	}
}