* {
	margin: 0;
	padding: 0;
	letter-spacing: 0.5px;
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	background: url(../img/bg2.jpg) no-repeat;
	background-size: cover;
}

header {
	text-align: center;
	padding: 3% 0 1.5%;
	font-family: 'Chelsea Market', cursive;
	font-size: 20px;
	max-width: 700px;
	display: block;
	margin: 0 auto 0;
}

#body {
	height: 100%;
	width: 100%;
	background-color: rgba(117, 54, 141, 0.9);
	color: #fff;
	padding: 0 20px;
	position: relative;
}

#survey-form:after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(117, 54, 141, 0.7) url('../img/loading.gif') center / 50px no-repeat;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease;
}

#survey-form._sending:after {
	opacity: 1;
	visibility: visible;
}

#message {
	display: none;
}

#message_active {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	background: rgba(131, 74, 152, 0.8);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	font-family: 'Chelsea Market', cursive;
	font-style: italic;
}

#message_active>div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35%;
	margin: 0 auto;
	padding: 0 30px;
	border-radius: 20px;
	background: #fff;
	color: #000;
	font-size: 20px;
	position: relative;
}

#message_active>div>div {
	cursor: pointer;
	position: absolute;
	top: 15px;
	right: 15px;
	background: url(../img/cross.svg) center no-repeat;
	background-size: 30px;
	width: 40px;
	height: 40px;
}

#message_active p {
	text-align: center;
	line-height: 140%;
}

#message_active p>span {
	font-style: normal;
}

#message_error {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	background: rgba(131, 74, 152, 0.8);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	font-family: 'Chelsea Market', cursive;
	font-style: italic;
	cursor: pointer;
}

#message_error img {
	height: 15vh;
}

#survey-form {
	width: 100%;
	max-width: 700px;
	height: auto;
	margin: 0 auto;
	padding: 30px;
	text-align: left;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 22px;
	background: #c56a5a;
	border-radius: 20px;
}

#description {
	font-family: 'Chelsea Market', cursive;
	font-size: 25px;
	font-style: italic;
	margin: 10px 0 0;
}

input._error,
select._error {
	box-shadow: 0 0 10px red;
}

@media(max-width: 700px) {
	#description {
		display: none;
	}

	#title {
		font-size: 6vh;
	}

	header {
		padding-bottom: 3%;
	}
}

@media(max-width: 450px) {
	#survey-form {
		padding: 20px;
	}

	label,
	.p-label {
		font-size: 4vh;
	}
}

.form-group {
	width: auto;
	margin: 0 0 20px;
}

input,
option,
select,
textarea,
button {
	font-family: 'Chelsea Market', cursive;
	color: #767676;
	font-weight: 400;
}

label {
	width: 100%;
	margin-bottom: 8px;
	display: block;
}

.p-label {
	width: 100%;
	margin-bottom: 8px;
	display: block;
}

input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 46px;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 15px;
	border: 1px solid #767676;
}

select {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 46px;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 15px;
	border-width: 1px;
}

/* Chrome 28+ */
@supports (-webkit-appearance:none) {
	[type="radio"] {
		width: 15px;
		height: 15px;
		display: inline-block;
		margin: -3px 10px 0 0;
		vertical-align: middle;
	}
}

/* Firefox (любой) */
@-moz-document url-prefix() {
	[type="radio"] {
		width: 20px;
		height: 20px;
		display: inline-block;
		margin: -3px 10px 0 0;
		vertical-align: middle;
	}
}

/* Internet Explorer 11+ */
_:-ms-fullscreen,
:root [type="radio"] {
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: -3px 10px 0 0;
	vertical-align: middle;
}

/* Chrome 28+ */
@supports (-webkit-appearance:none) {
	[type="checkbox"] {
		width: 15px;
		height: 15px;
		display: inline-block;
		margin: -3px 10px 0 0;
		vertical-align: middle;
	}
}

/* Firefox (любой) */
@-moz-document url-prefix() {
	[type="checkbox"] {
		width: 20px;
		height: 20px;
		display: inline-block;
		margin: -3px 10px 0 0;
		vertical-align: middle;
	}
}

/* Internet Explorer 11+ */
_:-ms-fullscreen,
:root [type="checkbox"] {
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: -3px 10px 0 0;
	vertical-align: middle;
}

textarea {
	min-height: 120px;
	width: 100%;
	padding: 0.6rem;
	box-sizing: border-box;
}

button {
	width: 100%;
	background: rgb(77, 196, 196);
	border-width: 0;
	border-radius: 5px;
	cursor: pointer;
	padding: 12px;
	color: #fff;
	font-size: 19px;
}

button:hover {
	background: rgb(61, 155, 155);
}

footer p {
	text-align: center;
	padding: 30px 0 20px;
}

/* Custom radio */

.radio__box {
	position: absolute;
	margin: 0.3em 0 0 -1.55em;
	width: 0.6em;
	height: 0.6em;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 0 0.1em #3e3e3e;
}

/* Checked */
.check__input:checked+.radio__box {
	background-image: url(../img/checked.svg);
	background-size: 0.45em 0.45em;
	background-repeat: no-repeat;
	background-position: 0.1em 0.1em;
}

/* Focused */
.check__input:focus+.radio__box {
	box-shadow:
		0 0 0 0.1em #16c05a;
}

/* Custom checkbox */

.check {
	padding-left: 1.7em;
}

.check__input {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.check__box {
	position: absolute;
	margin: 0.3em 0 0 -1.55em;
	width: 0.6em;
	height: 0.6em;
	border-radius: 0.05em;
	background-color: #fff;
	box-shadow: 0 0 0 0.1em #3e3e3e;
}

/* Checked */
.check__input:checked+.check__box {
	background-image: url(../img/checked.svg);
	background-size: 0.6em 0.6em;
}

/* Focused */
.check__input:focus+.check__box {
	box-shadow:
		0 0 0 0.1em #16c05a;
}

/* Focus on elements */

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
	/* 4 all browsers hide default focus */
	border: 2px solid #16c05a;
}